<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {{ css('css/main') }}
  <title>Lussiun</title>
</head>

<body>
  <div id="app">
    <header id="header" class="uk-margin">
      <div class="backend-header uk-card uk-card-primary">
        <div class="header-bar">
          控制面板
        </div>
        <nav class="navbar uk-navbar-container uk-navbar-transparent uk-position-bottom" uk-navbar="mode: click">
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="#">Active</a></li>
              <li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Item</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main class="tm-main uk-container uk-container-center">
      @!section('content')
    </main>
    <div class="uk-hidden">
      <div class="pk-system-messages"></div>
    </div>
    <div id="offcanvas" class="uk-offcanvas">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
          <li class="uk-nav-header" style="display: none;">控制面板</li>
          <li class="uk-nav-divider" style="display: none;"></li>
          <li class="uk-nav-header">拓展</li>
          <li class="uk-active">
            <a href="/index.php/admin/dashboard">
                            <img class="uk-margin-small-right" width="34" height="34" alt="控制面板" src="/app/system/modules/dashboard/assets/images/icon-dashboard.svg"> 控制面板
                        </a>
          </li>
          <li>
            <a href="/index.php/admin/site/page">
                            <img class="uk-margin-small-right" width="34" height="34" alt="Site" src="/app/system/modules/site/assets/images/icon-site.svg"> Site
                        </a>
          </li>
          <li>
            <a href="/index.php/admin/blog/post">
                            <img class="uk-margin-small-right" width="34" height="34" alt="博客" src="/packages/pagekit/blog/icon.svg"> 博客
                        </a>
          </li>
          <li>
            <a href="/index.php/admin/user">
                            <img class="uk-margin-small-right" width="34" height="34" alt="用户" src="/app/system/modules/user/assets/images/icon-users.svg"> 用户
                        </a>
          </li>
          <li>
            <a href="/index.php/admin/system/settings">
                            <img class="uk-margin-small-right" width="34" height="34" alt="系统" src="/app/system/modules/settings/assets/images/icon-settings.svg"> 系统
                        </a>
          </li>
          <li>
            <a href="/index.php/admin/system/marketplace/extensions">
                            <img class="uk-margin-small-right" width="34" height="34" alt="应用市场" src="/app/installer/assets/images/icon-marketplace.svg"> 应用市场
                        </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="offcanvas-flip" class="uk-offcanvas">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <ul class="uk-nav uk-nav-offcanvas">
          <li class="uk-nav-header">wwy701</li>
          <li><a target="_blank" href="/index.php/">访问站点</a></li>
          <li><a href="/index.php/admin/user/edit?id=1">设置</a></li>
          <li><a href="/index.php/user/logout?redirect=admin/login">登出</a></li>
        </ul>
      </div>
    </div>
  </div>
  {{ script('js/app') }}
</body>

</html>
